@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* primary colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-de-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* neutral colors */
    --white: hsl(0, 0%, 100%);
    --dark-gray: hsl(227, 10%, 46%);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100vh;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: thistle;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    overflow: hidden;
    

}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--dark-cyan);
    position: relative;
    padding: 1rem;
}

.top-bg {
    position: absolute;
    background-image: url("./images/bg-pattern-top.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 978px;
    height: 978px;
    top: -500px;
    left: -300px;
}

.bottom-bg {
    position: absolute;
    background-image: url("./images/bg-pattern-top.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 978px;
    height: 978px;
    bottom: -500px;
    right: -500px;
}

.card {
    z-index: 99;
    width: 326px;
    height: 100%;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* border: 1px solid red; */
    text-align: center;
}

.card-bg {
    background-image: url("./images/bg-pattern-card.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 149px;
    width: 100%;
    
}

.card img {
    
    position: absolute;
    transform: translate(-50%);
    top: 96px;
    left: 50%;
    border: 5px solid var(--white);
    border-radius: 50%;
    background-color: var(--white);
   
}

.top-profile {
    margin-top: 60px;
}

.bottom-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
}